{% load static %}
<html>
<head>
<title>Organ Matching & Transplantation</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["username"].value;
	
	if(x == null || x==""){
		window.alert("Patient ID must be enter");
		document.f1.username.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Organ Matching & Transplantation</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'HospitalLogin' %}">Hospital Login</a></li>
	  <li><a href="{% url 'DonorLogin' %}">Donor Login</a></li>
	  <li><a href="{% url 'UserLogin' %}">Patient login</a></li>
      <li><a href="{% url 'Register' %}">New Hospital Signup Here</a></li>
			
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'UserLoginAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Patient Login Screen</b></h3>
   
	<font size="" color="black"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			 <tr><td><font size="" color="black">Patient&nbsp;ID</b></td><td><input type="text" name="username" style="font-family: Comic Sans MS" size="30"/></td></tr>
         
		  
			
		 
			<tr><td></td><td><input type="submit" value="Login">
			</td>
			</table>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				</div>	
					
				</div>
				
				
	</body>
</html>